{% include 'includes/head.html' %}
<title>Modificar Socios</title>
{% include 'includes/header.html' %}
<main>
<form class="row gy-2 gx-3 align-items-center" action="/modificarSocios/{{ socio.socioID }}" method="post">
  <div class="col-auto">
    <label class="visually-hidden" for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre" name="name" value="{{ socio.name }}">
  </div>
  <div class="col-auto">
    <label class="visually-hidden" for="email">Corre Electronico</label>
    <div class="input-group">
      <div class="input-group-text">@</div>
      <input type="text" class="form-control" id="email" name="email" value="{{ socio.email }}">
    </div>
  </div>
        <div class="col-auto">
            <label class="visually-hidden" for="dni">DNI</label>
            <input type="text"  class="form-control" id="dni" name="dni" value="{{ socio.dni }}">
        </div>


  <div class="col-auto">
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
</form>


    </main>
{% include 'includes/footer.html' %}