{% include 'includes/head.html' %}
<title>Login</title>
{% include 'includes/header.html' %}
<main>


    <h1 class="title">
        Bienvenido, {{ name }}!
    </h1>

    <ul class="nav justify-content-center" id="nav" >
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/socioslistar">Listar Socios</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/crearsocios">Crear Socios</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/sociosborrar">Borrar Socios</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/listaractividades">Listar Actividades</a>
  </li>
        <li class="nav-item">
    <a class="nav-link" href="/listarclases">Listar Clases</a>
  </li>
        <li class="nav-item">
    <a class="nav-link" href="/listarusuarios">Listar Usuarios</a>
  </li>
</ul>

</main>
{% include 'includes/footer.html' %}