    </head>
<body>
<header>
        <img class="logo" src="../../static/img/icono.svg" alt="icono.svg">

        <nav>

            <ul class="nav_links">
                <li><a href="/">Home</a></li>
                <li><a href="/estadias">Mostra todas las estadias</a></li>
                <li><a href="/instalaciones">Instalaciones</a></li>
                <li><a href="/contacto">Contactenos</a></li>
                <li><a href="/profile">Panel de control</a></li>
            </ul>
        </nav>

    </header>

