{%  include 'includes/head.html' %}
    <title>actividades</title>
{% include 'includes/header.html' %}
    <main>
        <h1>Nuestras actividades</h1>
        
        <section class="actividades">
          
            <h2>Actividades recreativas</h2>
            


            <div class="card">
                <img src="../static/img/niños.cantando.jpg" alt="Canticuenticos" >
                <div class="cardContenido">
                  <h4>Canticuenticos</h4>
                  <p>Taller de canto</p>
                </div>
              </div> 

              <div class="card">
                <img src="../static/img/niños.jugando.jpg" alt="Espacio de Juegos" >
                <div class="cardContenido">
                  <h4>Espacio de Juegos</h4>
                  <p>Un espacio de juego seguro para niños</p>
                </div>
              </div> 

              <div class="card">
                <img src="../static/img/bingo.jpg" alt="Bingo" >
                <div class="cardContenido">
                  <h4>Bingo</h4>
                  <p>Para los adulto juegos de Bingo</p>
                </div>
              </div> 
            

        </section>
        <section class="actividades">
            <h2>Actividades deportivas</h2>
            

            <div class="card">
                <img src="../static/img/karate.jpg" alt="Karate" >
                <div class="cardContenido">
                  <h4>Karate</h4>
                  <p>Excelente deporte para eseñar disiplina y compromiso a los niños</p>
                </div>
              </div> 
              <div class="card">
                <img src="../static/img/boxeo.jpg" alt="Boxeo" >
                <div class="cardContenido">
                  <h4>Boxeo</h4>
                  <p>Para adolecentes y adultos, la mejor manera de estar en forma.</p>
                </div>
              </div> 
              <div class="card">
                <img src="../static/img/newcom.jpg" alt="Newcom" >
                <div class="cardContenido">
                  <h4>Newcom</h4>
                  <p>Para adultos mayores, un deporte mas tranquilo basado en la diversion</p>
                </div>
              </div> 
              <div class="card">
                <img src="../static/img/streching.jpg" alt="Streching" >
                <div class="cardContenido">
                  <h4>Streching</h4>
                  <p>Para elongar y manter los musculos en estado</p>
                </div>
              </div> 
 
              <div class="card">
                <img src="../static/img/yoga.jpg" alt="yoga" >
                <div class="cardContenido">
                  <h4>yoga</h4>
                  <p>Relajacion y meditacion junto con estiramiento.</p>
                </div>
              </div> 
            

        </section>
        <section class="actividades">
            <h2>Actividades culturales</h2>
            

            <div class="card">
                <img src="../static/img/danza.jpg" alt="Danza" >
                <div class="cardContenido">
                  <h4>Danza</h4>
                  <p>Distintos tipos de bailes, para todas las edades</p>
                </div>
              </div> 
              <div class="card">
                <img src="../static/img/clubLectura.jpg" alt="Club de lectura" >
                <div class="cardContenido">
                  <h4>Club de lectura</h4>
                  <p>Con libros nuevos cada mes, un excelente lugar para charlar sobre lo leido.</p>
                </div>
              </div> 
              <div class="card">
                <img src="../static/img/pintura.jpg" alt="Pintura" >
                <div class="cardContenido">
                  <h4>Pintura</h4>
                  <p>Deje salir su pintor interior</p>
                </div>
              </div> 
              <div class="card">
                <img src="../static/img/bricolage.jpg" alt="Manualidades" >
                <div class="cardContenido">
                  <h4>Manualidades</h4>
                  <p>Como ya se dijo, la vida es un bricolaje</p>
                </div>
              </div>        
        </section>

    </main>
{% include 'includes/footer.html' %}