{%  include 'includes/head.html' %}
<title>Centro Cultural</title>
{% include 'includes/header.html' %}


    <main>
        <img src="../static/img/comunidad.webp" alt="">
        <section>
            
            <h1>¿Quienes Somos?</h1>

            <p>
                Somos estudiantes, bla bla bla, Somos vecinos que queremos traer un poco de alegria y diversion a
                nuestro barrio con talleres y actividades.            
            </p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus error pariatur ipsa inventore ea adipisci, deleniti itaque fuga in veniam. Sed laboriosam deserunt facere harum suscipit adipisci eligendi culpa excepturi?</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A, quisquam ad. Ipsam doloribus rerum temporibus itaque, maxime culpa nisi consequatur sequi illo suscipit quas consectetur animi, numquam, doloremque molestias odit!</p>

        </section>
        <section>
            <h2>
                ¿Como Participar?
            </h2>
            <p>Ante todo acercandose, preguntando. El centro esta abierto para toda la comunidad, sean socios o no.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis esse, error nemo facere architecto alias assumenda soluta voluptate quos nihil rem. Recusandae, quidem sit? Libero ab excepturi consequuntur consequatur unde.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia nemo provident, quis vel doloribus molestiae ipsa aliquam corrupti autem accusamus temporibus fugit dolorem, adipisci molestias voluptatem praesentium, cum beatae nisi?</p>
        </section>
        <section>
            <h2>
                ¿Socios?
            </h2>
            <p>Si, socios, este centro cultural funciona dentro de una mutual que tienen como principal objetivo beneficiar a sus socios. Pero eso no significa que bla bla bla.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, ratione fugit sit autem dolorum perferendis modi quisquam eaque possimus cupiditate cumque eum repellat molestias laboriosam quas, in quaerat natus sed.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quaerat quibusdam sit similique maiores sint qui quod, laudantium repudiandae tempore dolores nihil veritatis harum earum vel facere explicabo possimus aut.</p>
        </section>

    </main>
{% include 'includes/footer.html' %}
