{%  include 'includes/head.html' %}
    <title>Nuestras Instalaciones</title>
{% include 'includes/header.html' %}
    <main>
        <div>
            <h1>Nuestra Ubicacion</h1>
            <p>Nos localizamos en la ciudad autonoma de Buenos Aires, de facil acceso a todo el publico.</p>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.10332361516!2d-58.48577848484294!3d-34.57625206355222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb667ce2b39cf%3A0xa4570e3f83122687!2sCentro%20Cultural%2025%20de%20Mayo!5e0!3m2!1ses-419!2sar!4v1653659820684!5m2!1ses-419!2sar"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <h1>Nuestras Instalaciones</h1>
        <section>
            <h2>Sala de teatro</h2>
            <p>El centro cuenta con una sala de teatro para 50 personas. Completamente acondicionada para su uso en
                obras de teatro.</p>

        </section>
        <section>
            <h2>Sala de baile</h2>
            <p>Una sala completa para las clases de baile, la misma cuenta con espejos en las paredes y suelo de madera.
            </p>
        </section>
        <section>
            <h2>Salon de eventos</h2>
            <p>El salon de eventos cuenta con mesas y sillas para 50 personas, luminaria para acordicionalo a distintos
                eventos ademas de aire acondicionado.</p>
        </section>
        <section>
            <h2>Buffet</h2>
            <p>El centro cuenta con su propio buffet que brindara a los asistentes la posibilida de comprar distintas
                comidas y bebidas. El mismo cuenta con sus propias mesas.</p>
        </section>


    </main>
{% include 'includes/footer.html' %}