{% extends 'base.html' %}

{% block title %}Estadísticas{% endblock %}

{% block content %}
    <h1>Estadísticas</h1>
    <ul>
        <li><a href="{{ url_for('stats.grafico_barras') }}" target="_blank">📊 Habitaciones más reservadas (barras)</a></li>
        <li><a href="{{ url_for('stats.histograma_duracion') }}" target="_blank">📈 Histograma de duración de estadías</a></li>
        <li><a href="{{ url_for('stats.torta_por_planta') }}" target="_blank">🥧 Distribución por planta (torta)</a></li>
        <li><a href="{{ url_for('stats.grafico_linea_mensual') }}" target="_blank">📈 Línea: reservas por mes</a></li>
        <li><a href="{{ url_for('stats.boxplot_duracion_por_planta') }}" target="_blank">📊 Boxplot duración por planta</a></li>
        <li><a href="{{ url_for('stats.heatmap_planta_vs_duracion') }}" target="_blank">🔥 Heatmap planta vs duración</a></li>
        <li><a href="{{ url_for('stats.grafico_completo') }}" target="_blank">🧩 Gráfico combinado (4 en 1)</a></li>

    </ul>
{% endblock %}
